# PyCharm / JetBrains IDE files
.idea/
*.iml
*.iws
*.ipr
*.iws
.idea_modules/

# Python virtual environment
.venv/
venv/
ENV/

# Python bytecode
__pycache__/
*.py[cod]
*$py.class

# Distribution / packaging
dist/
build/
*.egg-info/

# Unit test / coverage reports
htmlcov/
.tox/
.coverage
.coverage.*
.cache
nosetests.xml
coverage.xml
*.cover

# Jupyter Notebook
.ipynb_checkpoints

# macOS specific files
.DS_Store
.AppleDouble
.LSOverride
._*

# Qodana reports
.qodana/

# Temporary image files that might be created during script execution
images/compressed_q* 